<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div id="page" layout:fragment="content">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="card bg-light bg-info mb-3">
                    <h3 class="card-header">Change Password</span></h3>
                    <div class="card-body">
                        <form th:action="@{/profile/change-password}" method="post">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">New Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password1" name="password1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Repeat Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password2" name="password2">
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
